.header {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;

  ul {
    padding: 0;
  }

  ul,
  li {
    display: inline;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}
