@mixin displayFlex {
  display: -webkit-flex;
  display: flex;
}
@mixin flex($val) {
  -webkit-flex: $val;
  flex: $val;
}
@mixin alignItems($val) {
  -webkit-align-items: $val;
  align-items: $val;
}
@mixin justifyContent($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 3.5em;
  @include displayFlex;
  // disable text highlighting
  // http://stackoverflow.com/a/923804/358804
  -webkit-user-select: none;
}


.column {
  @include displayFlex;
  @include alignItems(center);
  @include justifyContent(center);
  font-size: 400px;
}
.zoom {
  width: 30%;
  min-width: 180px;
  background-color: #ACACAC;
  height: 100%;
}
.pan {
  @include flex(5 auto);
  height: 100%;
}
