@import "./_header";
@import "./_loader";

body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

.row {
  margin-bottom: 10px;
}

.header {
  color: #fff;

  a {
    color: #f00;
  }
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -5em;
  z-index: 1;
}
