@import "./loader";

body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

.header {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;

  ul {
    padding: 0;
  }

  ul,
  li {
    display: inline;
  }
}

.row {
  margin-bottom: 10px;
}

.header a,
.button {
  color: #f00;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -5em;
}
