<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting...</title>
    <script>
      // based on http://stackoverflow.com/a/21117224/358804
      window.addEventListener('deviceorientation', function(event) {
        if (typeof event.alpha === 'number') {
          window.location = 'controller';
        } else {
          window.location = 'models';
        }
      }, false);

      setTimeout(function(){
        window.location = 'models';
      }, 500);
    </script>
  </head>
  <body>
  </body>
</html>
