<!DOCTYPE html>
<html lang="en">
  <head>
    <title>2D Multi-User Trails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/trails.css"/>
  </head>
  <body>
    <div class="header">
      <ol>
        <li>
          <a href="http://osxdaily.com/2013/10/14/lock-orientation-ios-7-screen-rotation/" target="_blank">Turn on orientation lock</a>
        </li>
        <li>
          Visit <a href="http://<%= origin %>" target="_blank"><%= origin %></a>
        </li>
      </ol>
    </div>
    <canvas id="canvas"></canvas>
    <script src="/browser/trails/main.js"></script>
  </body>
</html>
