<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - loaders - OBJ loader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/css/viewer.css"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
		<script src="js/vendor/Detector.js"></script>
	</head>
	<body>
		<div id="info">
			Visit <a href="<%= controllerUrl %>" target="_blank"><%= controllerUrl %></a> on your mobile device. You must be on the same network (e.g. wifi).
		</div>
		<script src="/js/viewer.js"></script>
	</body>
</html>
