<!DOCTYPE html>
<html lang="en">
	<head>
		<title>3D Viewer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/css/viewer.css"/>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
		<script src="js/vendor/Detector.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="row">
				Pick a model:
				<ul>
					<% models.forEach(function(name) { %>
						<li>
							<a href="#<%= name %>"><%= name %></a>
						</li>
					<% }); %>
				</ul>
			</div>
			<div id="info" class="row">
				Make sure your mobile device is on the same network (e.g. wifi) as this machine, and that it is <a href="http://osxdaily.com/2013/10/14/lock-orientation-ios-7-screen-rotation/" target="_blank">orientation-locked</a>, then visit <a href="http://<%= origin %>" target="_blank"><%= origin %></a>.
			</div>
		</div>
		<script src="/js/viewer/main.js"></script>
	</body>
</html>
